<%- layout("Layouts/boilerplate") %>

        <div class="row mt-3">
            <div class="col-8 offset-2">
                <br><br>
                <h3>Create a new Listing </h3>
                <form action="/listings" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" name="Listing[title]" placeholder="add a catchy title" class="form-control" required>
                    <div class="valid-feedback">This is an amazing Title!</div>
                    <div class="invalid-feedback">Please give a Title</div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea type="text" name="Listing[description]" class="form-control" required></textarea>
                        <div class="valid-feedback">Good!</div>
                        <div class="invalid-feedback">Please give a Description</div>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Upload Image</label>
                        <input type="file" name="Listing[image]"  class="form-control">
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input type="number" name="Listing[price]" placeholder="Enter price" class="form-control" required>
                            <div class="valid-feedback">Great!</div>
                            <div class="invalid-feedback">Please give a Valid Price</div>
                        </div>
                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">country</label>
                            <input type="name" name="Listing[country]" placeholder="Enter Country Name"
                                class="form-control" required>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="Location" class="form-label">Location</label>
                        <input type="text" name="Listing[location]" placeholder="Enter Location" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="category" class="form-label">Category</label>
                        <select name="Listing[category]" class="form-control" required>
                            <option value="">Select Category</option>
                            <option value="Rooms">Rooms</option>
                            <option value="Iconic Cities">Iconic Cities</option>
                            <option value="Mountains">Mountains</option>
                            <option value="Castle">Castle</option>
                            <option value="Pools">Pools</option>
                            <option value="Camp">Camp</option>
                            <option value="Hangouts">Hangouts</option>
                            <option value="Farms">Farms</option>
                            <option value="Country Side">Country Side</option>
                            <option value="Adventure">Adventure</option>
                            <option value="Landscapes">Landscapes</option>
                            <option value="Landmark">Landmark</option>
                        </select>
                        <div class="invalid-feedback">Please select a category.</div>
                    </div>
                    <button class="btn btn-dark add-btn mt-3">Add</button>
                    <br><br>
                </form>
            </div>
        </div>