/* Ensure the body or a wrapper element uses flexbox */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* Main content should take up all available space */
.main-content {
    flex: 1;
}

/* Footer styling */
.f-info {
    background-color: #ebebeb;
    height: 8rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    margin-right: 2rem;
    font-size: 1.2rem;
}

/* Filter icons */
.filter {
    margin: 1rem;
    text-align: center;
    opacity: 0.4; /* Lighter by default */
    transition: opacity 0.3s;
}

.filter:hover,
.filter.active {
    opacity: 1; /* Darker when hovered or active */
}

.row {
    row-gap: 2rem;
}

.listing-card {
    margin: 1rem auto;
    width: 95%; /* Adjust card width */
}

.card-img-top {
    height: 18rem; /* Adjust image height */
}